*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    width: 100%;
    height: 10vh;
    background: #34495e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    width: 17%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

.logo img{
    width: 23%;
    height: 75%;
    border-radius: 50%;
}

.nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: #ff7200;
}

/* Hero  */

.hero{
    height: calc(100vh - 10vh);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(images/youth.jfif);
    background-size: cover;
    position: relative;
}

.frontal{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    position: absolute;

}

.heroLeft{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    z-index: 80;
}

.heroWord{
    font-size: 40px;
    color: white;
    font-weight: 600;
    font-family: cursive;
    /* margin-top: 10vh; */
}

.heroWord span{
    font-size: 90px;
}

.heroLeft p{
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}

.heroLeft button{
    width: 20%;
    height: 40px;
    background: #ff7200;
    color: white;
    border-radius: 30px;
    border: none;
}

.heroLeft button:hover{
    background: #34495e;
}

.heroRight{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heroRight img{
    width: 80%;
    z-index: 100;
}

.hero-img2{
    position: absolute;
    width: 30%;
    height: 100px;
    bottom: 0px;
    left: -50px;
    z-index: 50;
}

.heroRightCircle{
    width: 85%;
    height: 95%;
    border-radius: 50%;
    background: #34495e;
    position: absolute;
    bottom: 60px;
    left: -150px;
}

/* For Carousel Slider */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.y-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 60px;
  font-family: cursive;
  position: absolute;
  bottom: 200px;
  left: 150px;
}

.text span{
    font-size: 90px;
}

.mySlides p{
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
  position: absolute;
  bottom: 130px;
  left: 165px;
}

.mySlides button{
    width: 10%;
    height: 40px;
    background: #ff7200;
    color: white;
    border-radius: 30px;
    border: none;
    position: absolute;
    bottom: 100px;
    left: 165px;
}

.mySlides button:hover{
    background: #34495e;
}

/* Number text (1/3 etc) */
.numbertext {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation: slide 0.5s ease-in-out;
    -webkit-animation-delay: 2s;
    animation: 0.5s ease-in-out;
    animation-delay: 2s;
    transition: 0.5s ease;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* program */

.program{
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 50px;
}

.prog-hold{
  width: 75%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #34495e;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: black (0, 0, 0, 5);
}

.prog-box{
  width: 20%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inside-box{
  width: 100%;
  height: 85%;
  border-radius: 7px;
  overflow: hidden;
  border: 2px solid white;
}

.inside-text{
  font-family: cursive;
  /* font-weight: 600; */
  color: white;
}

.inside-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}